<%-include("partials/header");%>

<h1 class="pt-4">Home</h1>
<p><%= homeStartingContent%></p>
<% posts.forEach(function(post){ %>
    <form id="post<%=post._id%>" action="/posts/<%=post.title%>" method="post">
        <h1 class="pt-4"><%=post.title%></h1>
        <p><%=post.post.substring(0,100) + "..."%><a href="#" onclick="document.querySelector('#post<%=post._id%>').submit()">Read More</a></p>
        <input name="postId" type="hidden" value="<%=post._id%>">
    </form>
    
<% }); %>



<%-include("partials/footer");%>